*{
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

header, .portfolio, .about-us{
    width: 1020px;
    margin: 0 auto;
    background-color: #2d303a;
    color: #767e9e;
}

.about-us {
    background-color: #f2f2f2;
    color: #767e9e;
    box-shadow: 0 7px 0 0 #ffffff;
}
