@font-face{
    font-family: "lato";
    src:url("assets/Lato-Black.ttf"); 
}
    
* {
    font-family: "lato";
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

header {
    display: flex;
    align-items: center;
    margin: auto;
    color: white;
    width: 1020px;
    height: 95px;
    background-color: #2d303a;
    text-transform: uppercase;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -6px #2d3743;
    margin: auto;
    width: 1020px;
    background-color: #eb7871;
}

.description {
    padding: 40px;
    line-height: 4em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.description p{
    line-height: 2em;
}

.border-phone {
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #c8c9c8;
    border-radius: 3px; 
}

.horizontal-phone .border-phone{
    margin-top: 11px;
    margin-bottom: 11px;
}

.services {
    box-shadow: 0px -6px #ea676b;
    margin: auto;
    text-transform: none;
    width: 1020px;
    background-color: #f2f2f2;
    color: #647389;
}



.icon {
    display: flex;
    width: 280px; 
}
   
.icon img{
    margin-right: 10px;
}

.line{
    padding: 20px;
    margin: 0px;
    line-height: 3.3em;
    display: flex;
    justify-content: space-around;
}

.line p{
    line-height: 1em;
}

.dynamic {
    margin-bottom: 20px;
    width: 32px;
    height: 1px;
    background-color: #adadad;
    border: 2.15px solid #adadad; 
    border-radius: 8px;
}

.horizontal-phone .dynamic{
    margin-bottom: 0px;
    width: 1px;
    height: 32px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

li{
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}

li:hover{
    cursor: pointer;
    color: #ea676b;
}

.vertical-phone, .horizontal-phone {
    box-shadow: 20px 20px 0px 10px #ce5d56;
    display: flex;
    margin: 60px;
    height: 457px;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 30px;
}

.horizontal-phone {
    width: 457px;;
    height: 213px;
    align-items: center;
}

.vertical-phone{
    flex-direction: column;
}

.indicator {
    margin: 14px;
    background-color: #e66264;
    width: 4px;
    height: 4px;
    border: 3px solid #d9d9d9; 
    border-radius: 8px;
}

.button-border {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    width: 40px;
    height: 40px; 
    border-radius: 20px;
}

.horizontal-phone .button-border{
    margin-right: 2px;
    margin-left: 9px;
}

.button {
    background-color: #fafafa;
    border: 2px solid #d9d9d9; 
    width: 13px;
    height: 13px;
    border-radius: 5px;
}

header h1{
    margin-left:35px;
}

.point{
    background-color: #494e62;
    width: 0.5px;
    height: 0.5px;
    border: 0.5px solid #494e62; 
    border-radius: 8px;
}

.text span{
    color:#eb7871;
}

ul span{
    margin-left: 6px;
    color:#494e62;
}